@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1 {
  color: #F9FAF8;
  font-size: 24px;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 20px;
  background-color: #1F2937;
}

.right-links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 10px;
  font-size: 18px;
  color: #E5E7EB;
}
